.search-container {
  background-color: rgba(0, 0, 0, 0.815);
  line-height: 50px;
  text-align: center;
}
.search-container input {
  width: 75%;
  font-size: 16px;
  padding: 5px;
}

.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
}
.cart-container {
  position: fixed;
  right: 5%;
}
.pagination {
  margin: 30px;
}
.pagination button {
  padding: 0 10px;
  margin-right: 10px;
}
.pagination .selected {
  background-color: rgb(83, 241, 21);
  color: white;
  border: none;
}
