.login-form {
  display: flex;
  justify-content: center;
}
.login-form input {
  margin-bottom: 10px;
  width: 300px;
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
}
.submit-button {
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  background-color: greenyellow;
  border: 1px solid green;
  border-radius: 4px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: rgba(0, 128, 0, 0.596);
  transition: background-color 0.3s ease-in-out;
}
